
/*blue color code #1CB5E0*/
/*cyan color code #69F0AE*/
/*comman css*/
.dis-none {
    display: none;
}
a:hover {
    color: #69F0AE;
    text-decoration: none;
    cursor: pointer;
}
input[type="text"],  input[type="email"] {
    box-shadow: unset !important;
}
textarea{
    box-shadow: unset !important;
}
input[type="text"]:focus,  input[type="email"]:focus {
    color: #1CB5E0;
    border: 1px solid #1CB5E0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: 0 none;
}
textarea:focus {
    color: #FFFFFF;
    box-shadow: unset !important;
    background-color: transparent;
    border: 1px solid #1CB5E0 !important;
    outline: 0 none;
}
button:focus{
    outline: 0 none;
    box-shadow: unset !important;
}
.text-center {
    text-align: center;
}
.section-top{
  margin-top: 70px;
}
.section-bottom{
  margin-bottom: 70px;
}
.title-main-heading{
    text-transform: uppercase;
    font-weight: 600;
    color: #1CB5E0;
}
hr.under-line {
    background-color: #1CB5E0 !important;
    border: 0;
    display: block;
    height: 4px;
    margin: 20px 5px 36px;
    width: 100px;
}
iframe {
    height: 280px;
     border: none !important;
}

/*hr.under-line {
    margin: 20px auto 35px;
}*/
/*end*/

/*navbar*/
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
.navbar {
    padding: 1rem 1rem;
    -webkit-box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.150) !important;
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.150) !important;
}
.py-4 {
    margin-top: 100px;
}
.header-bg {
    background: linear-gradient(119.54deg, #000046 0%, #1CB5E0 100%);
}
.navbar-light .navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    line-height: 30px !important;
    font-family: cursive;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.62);
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
}
ul.navbar-nav.mr-auto {
    margin-left: 200px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #69F0AE;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #69F0AE;
}
/*end*/
/*footer*/
footer{
    margin-top: 50px;
}
.background-image-style {
background-image: url(../images/footer-bg.jpg);
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
color: #fff;
}
@media (min-width: 992px){
    .background-image-style {
        background-position: center -118px !important;
    }
}
.background-opacity-bg {
background: linear-gradient(119.54deg, rgba(0,0,70,0.8), rgba(28,181,224,0.8));
background: -webkit-linear-gradient(119.54deg, rgba(28,181,224,0.8), rgba(0,0,70,0.8));
background: -moz-linear-gradient(119.54deg, rgba(28,181,224,0.8), rgba(0,0,70,0.8));
background: -o-linear-gradient(119.54deg, rgba(28,181,224,0.8), rgba(0,0,70,0.8));
background: -ms-linear-gradient(119.54deg, rgba(28,181,224,0.8), rgba(0,0,70,0.8));
padding-top: 30px;
padding-bottom: 30px;
}
.footer-text {
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.footer-logo {
    width: 240px;
    padding: 15px 0px;
    background: transparent;
}
.social-icon {
    text-align: center;
}
.social-icon a {
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}
.footer-email-address {
    text-align: center;
    color: #fff;
    display: block;
}
.footer-text2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-weight: 100;
    font-size: 15px;
}
.footer-text2 .menu-link {
    padding-bottom: 10px;
}
.footer-text2 .menu-link a {
    text-transform: capitalize;
}
.footer-nav {
    color: #FFFFFF;
    font-weight: 500;
}
.footer-input-filed {
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}
.footer-text-filed {
    background-color: transparent;
    border: 1px solid #FFFFFF !important;
}
.footer-sub-btn {
    border-radius: 0px;
    border: 1px solid #FFFFFF;
    width: 80px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 2px 15px;
    background: transparent;
    color: #ffffff;
    margin-top: 30px;
    display: block;
}
.footer-sub-btn:hover {
    border: 1px solid #69F0AE;
    color: #69F0AE;
    cursor: pointer;
}
.footer-form input[type="text"], .footer-form input[type="email"] {
    box-shadow: unset !important;
}
.footer-form textarea{
    box-shadow: unset !important;
}
.footer-form input[type="text"]:focus, .footer-form input[type="email"]:focus {
    color: #FFFFFF;
    border: 1px solid #69F0AE !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: 0 none;
}
.footer-form textarea:focus {
    color: #FFFFFF;
    box-shadow: unset !important;
    background-color: transparent;
    border: 1px solid #69F0AE !important;
    outline: 0 none;
}
.footer-form input[type="text"]::placeholder, 
.footer-form input[type="email"]::placeholder,
.footer-form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}
/*end*/

/*slider css*/
.carousel {
    height: 500px;
    background-color: #000;
}
.carousel .carousel-item {
    height: 500px;
    background: #ccc;
}
.carousel .carousel-item {
    overflow: hidden;
}
.carousel .carousel-item img {
    width: 100%;
    object-fit: cover;
}
.carousel .carousel-item .caption {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    position: absolute;
}
.carousel .carousel-item .caption h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 60px;
    text-shadow: none;
    text-align: center;
}
.carousel .carousel-item .caption h1 span {
    font-size: 35px;
    margin-top: 10px;
    font-weight: 400;
}
.carousel .carousel-item .caption h1 span {
    line-height: 120%;
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    text-transform: none;
        margin: 0;
}
.carousel .links {
    margin-top: 35px;
    text-align: center;
}
.carousel .carousel-item .caption .slider-btn, .btns {
    text-transform: uppercase;
    background: #004D40;
    color: #ffffff;
    border: 2px solid #004D40;
    margin: auto;
    text-align: center;
    padding: .6180469716em 1.41575em;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: inline-block !important;
    width: auto !important;
}
.carousel .carousel-item .caption .slider-btn:hover{
    background: transparent;
    border: 2px solid #004D40;
    color: #004D40;
}
.carousel-control-prev span,
.carousel-control-next span{
  font-size: 90px;
}
/*end slider css*/

/*banner css*/
.banner {
    height: 500px;
    position: relative;
}
.banner img {
    object-fit: cover;
    height: 500px;
    width: 100%;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.banner .caption {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    position: absolute;
}
.banner .caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
.banner .caption h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 60px;
    text-shadow: none;
    text-align: center;
    padding: 0 0 0px 0;
}

.banner .caption h1 span {
    font-size: 35px;
    margin-top: 10px;
    font-weight: 400;
    display: block;
    font-size: 34px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 120%;
}
.banner .links {
    margin-top: 25px;
}

.banner .caption .slider-btn, .btns {
    display: inline-block !important;
    width: auto !important;
}

.banner .caption .slider-btn, .btns {
    display: block;
    text-transform: uppercase;
    background: #004D40;
    border: 2px solid #004D40;
    margin: auto;
    text-align: center;
    width: auto;
    padding: .6180469716em 1.41575em;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.banner .caption .slider-btn:hover, .btns:hover {
    background: transparent;
    border: 2px solid #004D40;
    color: #004D40;
}
/*end*/

.text-up {
    text-transform: uppercase;
}
.slide-imge-overlay{
  position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}

.btn-style{
  text-transform: uppercase;
    background: #1CB5E0;
    color: #ffffff;
    border: 2px solid #1CB5E0;
    margin: auto;
    text-align: center;
    border-radius: 0px;
    padding: .6180469716em 1.41575em;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block !important;
    width: auto !important;
    outline: none;
}
.btn-style:hover{
  color: #1CB5E0;
  background-color: transparent;
  border: 2px solid #1CB5E0;
  cursor: pointer;
}
.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.question-box {
    margin-top: 40px;
}
.hov-img-zoom {
    display: block;
    overflow: hidden;
}
.hov-img-zoom img {
    width: 100%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.hov-img-zoom:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #69F0AE;
}
a.footer-logo-txt {
    color: #fff;
    font-size: 46px;
    font-weight: 900;
    line-height: 90px !important;
    font-family: cursive;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.62);
}
a.footer-logo-txt:hover{
   color: #fff; 
}
.heading-title {
    color: #1CB5E0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    font-family: Montserrat-Regular, sans-serif;
}
.privacy-section strong {
    font-weight: 600;
    color: #1CB5E0;
}
.privacy-section a {
    font-weight: 600;
    color: #1CB5E0;
}
.pagination {
    margin-top: 30px;
}
.home-heading-txt {
    color: #1CB5E0;
    font-size: 22px;
}
.text-question-page .question-box {
    min-height: 150px;
}
button.btn.btn-success.get-answer {
    margin: auto;
    display: block;
    margin-top: 30px;
    width: 100%;
}

/*form css*/
#userImage {
    background: #1e2027;
    color: #fff;
    font-size: 80px;
    padding: 15px;
    font-weight: 700;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #ce2350;
    display: block;
    margin-bottom: 30px;
     -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.input-style{
  margin-bottom: 25px;
  border: none !important;
      width: 90%;
    margin-left: auto;
    margin-right: auto;
  border-bottom: 1px solid #ce2350 !important;
  border-radius: 0px !important;
}
/*end*/
/*user Profile Css */
.user-pro-section h1 {
    color: #ce2350;
    font-weight: 700;
}
.nav-link {
    color: #D19600;
}
.nav-tabs .nav-link.active {
    color: #ce2350;
    background-color: #fff;
    border-color: #ce2350 #ce2350 #fff;
    font-weight: 700;
}
.user-pro-section .nav-tabs {
    border-bottom: 1px solid #ce2350;
}
.user-pro-section hr {
    border-top: 1px solid #ce2350;
}
.user-pro-section h4 {
    color: #D19600;
}
.user-pro-section .col-form-label {
    color: #D19600;
}
.user-pro-section .card {
    border: 1px solid #ce2350;
}
.user-pro-section .text-muted {
    color: #D19600 !important;
}
.user-pro-section .list-group-item {
    border: 1px solid #ce2350;
}
.user-pro-section .form-group {
    margin-bottom: 0px;
}
.user-pro-section .card{
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
/*end*/

.header-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  right: 52px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-wrapicon1{
  height: 46px;
  position: relative;
}

.header-wrapicon1 img {
  height: 100%;
}

.header-icon1:hover{
  cursor: pointer;
  color: #69F0AE;
}
/*.header-icons-noti:hover, .header-icon2:hover .header-icons-noti{
  color:#ffffff !important;
}*/
.nav-user-icon{
    font-size: 24px !important;
    color: #ffffff;
    margin-top: 12px;
}
.user-icon{
  position: relative;
}
.user-icon:hover{
  cursor: pointer;
}
.user-icon:hover > .user_menu {
  visibility: visible;
  opacity: 1;
}
.user_menu {
  list-style-type: none;
  position: absolute;
  z-index: 1100;
  top:59px;
  right: 0px;
  width: 160px;
  background: linear-gradient(119.54deg, #000046 0%, #1CB5E0 100%);
  opacity: 0;
  visibility: hidden;
  padding-bottom: 10px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.user_menu li:hover > .user_menu {
  visibility: visible;
  opacity: 1;
} 

.user_menu li { 
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.user_menu li, .user_menu a {
  padding: 3px;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  color: white;
}

.user_menu > li:hover > a {
    cursor: pointer;
    color: #69F0AE;  
    text-decoration: none;
}

.show-header-dropdown {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*homepage css*/
.product-image{
    margin: 20px 0px;
}
.product-image img{
    width: 300px;
    margin: auto;
    display: block;
}
.product-name {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #1CB5E0;
}
.product-desc p {
    color: #546E7A;
    font-weight: 500;
    margin-top: 20px;
}
.product-desc .btn-style {
    margin: 40px 2px;
}
.item-blog a{
    width: 100%;
    min-height: 503px;
}
/*end*/

/*contact us page*/
.contact-address-box{
    height: 185px;
    padding: 2.5rem;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px 0px 50px 0px;
}
.left-side-icon {
    float: left;
}
.left-side-icon  i{
    color: #1CB5E0;
    font-size: 50px;
}
.address-content{
    margin-left: 70px;
}
.address-content p{
    color: #546E7A;
    margin-top: 5px;
}
.address-content-title {
    font-size: 20px;
    font-weight: 600;
}
.contct-form-section {
    max-width: 500px;
    width: 100%;
}
.form-title {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    color: #1CB5E0;
    font-size: 22px;
    font-weight: 600;
}
.form-subtitle {
    text-align: center;
    padding-bottom: 15px;
    color: #546E7A;
    font-size: 16px;
    font-weight: 400;
}
.form-style {
    border: 2px solid #fefefe;
    padding: 30px;
    border-radius: 10px;
    margin: 0 10px;
}
.form-input {
    border: none !important;
    border-bottom: 1px solid #546E7A !important;
    border-radius: 0px !important;
}
.form-style input[type="text"]:focus, .form-style input[type="tel"]:focus, .form-style input[type="password"]:focus, .form-style input[type="email"]:focus {
    border: none!important;
    border-bottom: 2px solid #1CB5E0 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: 0 none;
}
/*end*/

/*login form css*/
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 2px solid #ce2350;
}
.or-seperator i {
    padding: 0 10px;
    background: #ce2350;
    color: #fff;
    position: relative;
    top: -11px;
    z-index: 1;
}
.field-icon {
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    position: relative;
    font-size: 20px;
    z-index: 2;
}
.profile-img-tag{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
    margin: auto;
}
#selectImage{
    margin: 25px auto;
    text-align: center;
    display: block;
}
.hide-btn{
  display: none !important;
}
.show-btn{
  display: block !important;
}
/*end*/
.joining-text {
    font-size: 30px;
    font-weight: 600;
    color: #1CB5E0;
    background: #000046;
    width: auto;
    padding: 5px 25px;
}
.joining-text span{
    font-size: 25px;
    color: #FFFFFF;
}